<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rtfm -->
      <package
            uri="http://rtfm.essembeh.org/model"
            class="org.essembeh.rtfm.model.rtfm.RtfmPackage"
            genModel="model/rtfm.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.essembeh.rtfm.model.RtfmCustomFactory"
            uri="http://rtfm.essembeh.org/model">
      </factory>
   </extension>

</plugin>
