<?xml version="1.0"?>
<rtfm>
	<tagwriters>
		<tagwriter id="eyeD3" classname="org.essembeh.rtfm.plugins.EyeD3TagWriter">
			<property name="eyed3.binary" value="/usr/bin/eyeD3" />
			<property name="eyed3.default.arguments" value="--no-color" />
			<property name="force.utf8" value="true" />
		</tagwriter>
		<tagwriter id="fake" classname="org.essembeh.rtfm.plugins.FakeTagWriter">
		</tagwriter>
	</tagwriters>

	<tagproviders>
		<tagprovider id="default">
			<artist pattern="/(.*)/.*/[0-9][0-9] - .*\.mp3" group="1" />
			<album pattern="/.*/(.*)/[0-9][0-9] - .*\.mp3" />
			<year pattern="/.*/([12][0-9][0-9][0-9]) - .*/[0-9][0-9] - .*\.mp3" optional="true" />
			<tracknumber pattern="/.*/.*/([0-9][0-9]) - .*\.mp3" />
			<trackname pattern="/.*/.*/[0-9][0-9] - (.*)\.mp3" />
			<comment value="Tagged with RegexTagForMusic" />
		</tagprovider>
	</tagproviders>

	<filehandlers>
		<filehandler id="MP3" pattern="/[^/]+/[^/]+/[0-9][0-9] - .*\.mp3">
			<tagwriter ref="eyeD3" />
			<tagprovider ref="default" />
		</filehandler>
		<filehandler id="COVER" pattern="/[^/]+/[^/]+/cover\.(jpg|jpeg|png)" />
		<filehandler id="UNKNOWN" pattern=".*" />
	</filehandlers>

	<shell>
		<command id="scan" alternative="s" classname="org.essembeh.rtfm.shell.commands.Scan" />
		<command id="read" alternative="r" classname="org.essembeh.rtfm.shell.commands.ReadDB" />
		<command id="write" alternative="w" classname="org.essembeh.rtfm.shell.commands.WriteDB" />
		<command id="tag" alternative="t" classname="org.essembeh.rtfm.shell.commands.Tag" />
		<command id="data" alternative="d" classname="org.essembeh.rtfm.shell.commands.Data" />
		<command id="ls" alternative="l" classname="org.essembeh.rtfm.shell.commands.Show" />
		<command id="help" alternative="h" classname="org.essembeh.rtfm.shell.commands.Help" />
		<command id="quit" alternative="q" classname="org.essembeh.rtfm.shell.commands.Quit" />
	</shell>
	<properties>
		<property name="app.name" value="RegexTagForMusic" />
		<property name="app.version" value="1.0alpha2" />
		<property name="app.default.mode" value="shell" />
		<property name="scan.hidden.files" value="true" />
	</properties>
</rtfm>
