<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %C:   %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="FATAL" />
		</filter>
	</appender>
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="file" value="${java.io.tmpdir}/rtfm.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %C:   %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="FATAL" />
		</filter>
	</appender>
	<logger name="org.essembeh.rtfm.ui" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.essembeh.rtfm.app" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.essembeh.rtfm.exec" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.essembeh.rtfm.fs" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.essembeh.rtfm.model" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.essembeh.rtfm.app.filehandler.attribute.RegexAttributeGenerator" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>
